+module('07', 'header')
	.header
		.wrapper
			.header__logo.wow.flipInY(data-wow-delay="500ms")
			.header__contacts
				.header__emails.wow.fadeInUp(data-wow-delay="700ms")
					a.header__line(href="mailto:bbyachting.com.ua") bbyachting.com.ua
					a.header__line(href="mailto:bbyachting@gmail.com") bbyachting@gmail.com
				.header__phones.wow.fadeInUp(data-wow-delay="900ms")
					a.header__line(href="tel:+380 50 500 57 77") +380 50 500 57 77
					a.header__line(href="tel:+380 67 547 18 88") +380 67 547 18 88