+module('07', 'after')
	.after
		.title.after__title.wow.fadeInUp(data-wow-delay="250ms") После курса:
		.after__container
			.item.after__item.wow.fadeInUp(data-wow-delay="750ms")
				.item__icon(style="background-image: url('./img/knowledge.svg')")
				.item__title Знания
			.item.after__item.wow.fadeInUp(data-wow-delay="950ms")
				.item__icon(style="background-image: url('./img/help.svg')")
				.item__title Навыки
			.item.after__item.after__item_certificate.wow.fadeInUp(data-wow-delay="1150ms")
				.item__icon(style="background-image: url('./img/certificate.png')")
				.item__title Сертификат
				.item__desc Все выпускники курса получат международный сертификат ISSA Sea Survival