+module('07', 'for')
	.for.wow.fadeIn(data-wow-delay="0ms")
		.wave.wave_top
		.for__container
			.wrapper
				.title.for__title.wow.fadeInUp(data-wow-delay="500ms") Для кого?
				.for__content.wow.fadeInUp(data-wow-delay="700ms")
					.for__icon
					.for__text Курс выживания в море будет полезен всем, кто отдыхает на парусных, моторных яхтах, круизных лайнерах, участвует в гонках или ходит в трансатлантические переходы на малых либо крупных судах.
		.wave.wave_bottom