+module('07', 'goal')
	.goal
		.title.goal__title.wow.fadeInUp(data-wow-delay="250ms") Цель курса:
		.wrapper
			.goal__container
				.item.goal__item.wow.fadeInUp(data-wow-delay="500ms")
					.item__icon(style="background-image: url('./img/leer.svg')")
					.item__text Обеспечить необходимыми знаниями и навыками, которые увеличивают шансы на выживание в воде и на спасательных плотах
				.item.goal__item.wow.fadeInUp(data-wow-delay="700ms")
					.item__icon(style="background-image: url('./img/shark.svg')")
					.item__text Обсудить стратегии предотвращения и преодоления инцидентов чрезвычайных ситуаций на море
				.item.goal__item.wow.fadeInUp(data-wow-delay="900ms")
					.item__icon(style="background-image: url('./img/life-jacket-svgrepo-com.svg')")
					.item__text Ознакомить с новейшей персональной экипировкой и оборудованием для безопасности судна и его наиболее эффективным использованием