+module('07', 'how')
	.how
		.title.how__title.wow.fadeInUp(data-wow-delay="250ms") Как проходит?
		.wrapper
			.how__container
				.item.how__item.wow.fadeInUp(data-wow-delay="450ms")
					.item__header.wow.fadeInUp(data-wow-delay="700ms")
						.item__icon(style="background-image: url('../img/compass.svg')")
						.item__desc
							.item__title 1 день. Теория
							.item__duration Длительность: 3 часа. Офис
					.item__text.wow.fadeInUp(data-wow-delay="1100ms") Вы узнаете, как оказывать первую медицинскую помощь на воде, делать искусственное дыхание, перевязки, вызывать помощь по рации. Получите подробную информацию о методах выживания в море и о том, как проводятся спасательные операции.
				.item.how__item.wow.fadeInUp(data-wow-delay="700ms")
					.item__header.wow.fadeInUp(data-wow-delay="950ms")
						.item__icon(style="background-image: url('../img/swimming-pool.svg')")
						.item__desc
							.item__title 2 день. Практика
							.item__duration Длительность: 2 часа. Бассейн
					.item__text.wow.fadeInUp(data-wow-delay="1500ms") Вы испытаете на себе сложности вхождения в спасательный плот без помощи и при помощи других, в реальных условиях и в спасательном жилете. Узнаете, как работает жилет Spinlock, пиротехника и другие средства подающие сигналы бедствия.
