+module('07', 'poster')
	.poster.wow.fadeIn(data-wow-delay="0ms")
		.poster__container
			.poster__date.wow.fadeInUp(data-wow-delay="500ms") 24-25 марта 2020
			.poster__title.wow.fadeInUp(data-wow-delay="500ms") Мы обучим тебя выживать в море
			.poster__text.wow.fadeInUp(data-wow-delay="500ms") За два дня ты узнаешь о медицинских аспектах выживания в море, правильном использовании спасательных плотов, жилетов, пиротехники и многое другое.
			a.button.poster__btn.wow.fadeInUp(data-wow-delay="700ms" target="_blank" href="https://bbyachting.com.ua/kurs-vyizhivaniya-v-more/") Узнать больше