+module('07', 'quote2')
	.quote2
		.wrapper.wow.fadeInUp(data-wow-delay="250ms")
			span.start “
			.quote2__text Путешествия на яхте один из самых безопасных активных видов отдыха и 99% тех, кто ходит в море, скорее всего, никогда не будут использовать свой спасательный плот. Однако, если ты окажешься тем 1%, кому всё таки придётся его задействовать, твои шансы на выживание будут значительно увеличены, если ты будешь знать, как действовать в чрезвычайной ситуации и помочь себе и другим.
			span.end „