+module('07', 'who-rule')
	.who-rule.wow.fadeIn(data-wow-delay="250ms")
		.wave.wave_top
		.who-rule__container
			.wrapper
				.title.who-rule__title.wow.fadeInUp(data-wow-delay="500ms") Кто ведёт?
				.who-rule__items
					.item.who-rule__item
						.item__photo.wow.fadeInUp(data-wow-delay="750ms" style="background-image: url('./img/who_1.png')")
						.item__content.wow.fadeInUp(data-wow-delay="1250ms")
							.item__name Богдан Бродовски
							.item__text Лицензированный инструктор-экзаменатор ISSA. Основатель собственной школы яхтинга в Украине и туроператора «ББ Яхтинг». Обучает на русском языке. 
					.item.who-rule__item
						.item__photo.wow.fadeInUp(data-wow-delay="1000ms" style="background-image: url('./img/who_2.png')")
						.item__content.wow.fadeInUp(data-wow-delay="1500ms")
							.item__name Дариуш Сухомски
							.item__text Лицензированный инструктор ISSA и RYA, Sea Survival Instructor - Индивидуальные спасательные техники (ITR). Тренер первой помощи. Обучает на английском языке
		.wave.wave_bottom