+module('04', 'footer')
	.footer
		a.footer__logo.wow.fadeInUp(data-wow-delay="250ms" href="https://bbyachting.com.ua/" target="_blank")
		a.footer__address(href="https://goo.gl/maps/HNmanjT6hCT2wMSF8" target="_blank")
			span.wow.fadeInUp(data-wow-delay="350ms") г. Киев, ул. Богдана Хмельницкого, 94
		.footer__numbers.wow.fadeInUp(data-wow-delay="550ms")
			a.footer__line(href="tel:+380 50 500 57 77") +380 50 500 57 77
			a.footer__line(href="tel:+380 67 547 18 88") +380 67 547 18 88
