meta(charset='UTF-8')
title BB-Yachting
meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover')
meta(http-equiv='x-dns-prefetch-control' content='on')
link(data-import-css='' rel='stylesheet' href='css/all.css')
link(rel="icon" href="https://bbyachting.com.ua/wp-content/uploads/2014/12/icon1.png")
//- link(rel="icon" href="img/favicon.png")